[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dglm"]
	path = dglm
	url = https://github.com/cran/dglm
[submodule "statmod"]
	path = statmod
	url = https://github.com/cran/statmod
